@import url(prince-common.css);

@page {
    size: 90mm 123mm;
    margin: 4mm 1.5mm 0mm 1.5mm;
}

body {
}

body, td {
    font-size: 11pt;
}


.fsp {
    float: top unless-fit;
    height:118.5mm;
    width:87mm;
}


.fsp * {
    max-height: 118.5mm;
    max-width: 87mm;
}


.fsl {
    float: top unless-fit;
    width:118.5mm;
    height:87mm;
    transform-origin: top left;
    /* transform: rotate(-90deg) translate(-122.75mm); */
    transform: rotate(-90deg) translate(-117.5mm);
}


.fsl * {
    max-width:118.5mm;
    max-height:87mm;
}


.captioned.fsp img
{
    max-height: 115mm;
}


.captioned.fsl img
{
    max-height: 82mm;
}


p.caption
{
    height: 6mm;
    margin-top: 1mm;
    font-size: 9pt;
}